################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetNote.SqlServer/DotNetNote.SqlServer.dbmdl
*.jfm
