@model List<DotNetNote.Models.MyNotification>

@{
    ViewData["Title"] = "MyNotification";
}
<h2>@ViewData["Title"]</h2>
@*<div class="form-group">
    <a asp-controller="Attendee" asp-action="Create" class="btn btn-outline-dark ">참가 등록하기</a>
</div>*@
<hr />
